    body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(158, 210, 198);
}
.anadirAlCarrito{
    background-color: azure;
    border: 1px solid black ;
    width: 75px;
    border-radius: 10px;
}

.anadirAlCarrito:hover{
    background-color: blueviolet;
}